<html>
<head>
  <title>Tutu Catalog</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <!-- <link rel="stylesheet" href="static/css/media.css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/catagory.css')}}">
  <script src="https://use.fontawesome.com/af5cc6de05.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <section id="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" alt="Brand" src="{{url_for('static', filename='images/logo.svg')}}">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-right navbar-nav">
            {% if 'username' not in login_session %}
            <form class="navbar-right" action="{{url_for('showLogin')}}">
              <button type="submit" class="btn btn-default navbar-right navbar-btn">Sign In</button>
            </form>
            {% else %}
            <form class="navbar-right" action="{{url_for('disconnect')}}">
              <button type="submit" class="btn btn-default navbar-right navbar-btn">Sign Out</button>
            </form>
            {% endif %}
            <form class="navbar-form navbar-right" method="post" action="{{url_for('searchCatalog')}}">
              <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
              </div>
            </form>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </section>

  <section id="main">
    <h1>Tutu Catalog</h1>
    <div class="container-fluid">
      <div class="catagory col-md-2">
        {% if 'username' in login_session %}
        <div class="col-md-9">
          <h2>Catagory</h2>
        </div>
        <div class="col-md-3 catagory-nav">
          <a href="{{url_for('newCatagory')}}">
            <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
          </a>
        </div>
        {% else %}
        <h2>Catagory</h2>
        {% endif %}
        {% if catagories|length > 0 %}
        <div class="catagories">
          {% for i in catagories %}
          <div class="catagory-name col-md-9">
            <a href="/{{((i.name).replace(' ', '_'))}}">{{i.name}}</a>
          </div>
          {% if 'username' in login_session %}
          <div class="catagory-buttons col-md-3">
            <a href="{{url_for('editCatagory', catagory=i.name.replace(' ', '_'))}}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="{{url_for('deleteCatagory', catagory=i.name.replace(' ', '_'))}}">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </div>
          {% endif %}
          {% endfor %}
          {% else %}
          <h3>No catagories could be found.</h3>
          {% endif %}
        </div>

      </div>
      <div class="itemColumn col-md-9 col-md-offset-1">
        {% if '/search' in rule.rule %}
        <h2 class="catagory_title">Search result for "{{query}}" ({{recentItems|length}})</h2>
        {% else %}
        <h2 class="catagory_title">Recently Added Items ({{recentItems|length}})</h2>
        {% endif %}
        {% if recentItems|length > 0 %}
        <div class="items">
          {% for i in recentItems %}
          <div class="item col-md-4">

            {% if 'username' in login_session %}
            <a
              href="{{url_for('editItem', catagory=i.item_catagory.replace(' ', '_'), item=i.id)}}"
              class="overlay-button edit">
              <i class="fa fa-3x fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="{{url_for('deleteItem', catagory=i.item_catagory.replace(' ', '_'), item=i.id)}}" class="overlay-button delete">
              <i class="fa fa-3x fa-trash-o" aria-hidden="true"></i>
            </a>
            {% endif %}

            <a href="../{{i.item_catagory.replace(' ', '_')}}/{{i.id}}">
              <img src="{{url_for('static', filename='')}}{{i.image}}">
              <h3 class="item_name">{{i.name}}</h3>
              <div class="overlay"></div>
            </a>
          </div>


          <!-- <div class="item col-md-4">
            <a href="/{{((i.item_catagory).replace(' ', '_'))}}/{{i.id}}">
              <img src="static/{{i.image}}">
              <h3 class="item_name">{{i.name}}</h3>
            </a>
          </div> -->
          {% endfor %}
        </div>
        {% else %}
        <h2>No items could be found.</h2>
        {% endif %}
      </div>
    </div>
  </section>

  <footer class="footer">
    <nav class="navbar navbar-default navbar-bottom">
      <div class="footer_content">
        Copyright Stefan Milanovic 2017
      </div>
    </nav>
  </footer>
</body>


</html>
