<html>
<head>
  <title>Tutu Catalog</title>

  <!-- <link rel="stylesheet" href="static/css/media.css"> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/item.css')}}">
  <script src="https://use.fontawesome.com/af5cc6de05.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <section id="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="logo" alt="Brand" src="{{url_for('static', filename='images/logo.svg')}}">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-right navbar-nav">
            {% if 'username' not in login_session %}
            <form class="navbar-right" action="{{url_for('showLogin')}}">
              <button type="submit" class="btn btn-default navbar-right navbar-btn">Sign In</button>
            </form>
            {% else %}
            <form class="navbar-right" action="{{url_for('disconnect')}}">
              <button type="submit" class="btn btn-default navbar-right navbar-btn">Sign Out</button>
            </form>
            {% endif %}
            <form class="navbar-form navbar-right" method="post" action="{{url_for('searchCatalog')}}">
              <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
              </div>
            </form>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </section>

  <section id="navbar-nav">
    <div class="container-fluid">
      <div class="col-md-1">
        <a href={% if not prev_item %}
          "#" class="disabled"
          {% else %}
          "{{url_for('item', catagory=catagory.replace(' ', '_'), item=prev_item.id)}}"
          {% endif %}>
          <i class="fa fa-4x fa-chevron-circle-left" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-md-2 col-md-offset-4">
        <h1>{{catagory}}</h1>
        <a href="{{url_for('catagory', catagory=catagory.replace(' ', '_'))}}">
          back to catagory
        </a>
      </div>

      <div class="col-md-1 col-md-offset-4">
        <a href={% if not next_item %}
          "#" class="disabled"
          {% else %}
          "{{url_for('item', catagory=catagory.replace(' ', '_'), item=next_item.id)}}"
          {% endif %}>
          <i class="fa fa-4x fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>

  <section id="main">
    <div class="container-fluid main-container">
      <div class="col-md-5">
        <h1 class="item-name">{{item.name}}</h1>
        <img src="{{url_for('static', filename='')}}{{item.image}}">
      </div>

      <div class="col-md-5 col-md-offset-2 description">
        <div class="description-content col-md-12">
          <h2>Description</h2>
          <p>{{item.description}}</p>
          <div class="user-info">
            <div class="col-md-2 col-md-offset-2">
              <img class="user-image" src="{{user.picture}}">
            </div>

            <div class="time col-md-8">
              <p class="item-time">Item created: {{item.time_created}}</p>
              <p class="item-time">Last Edited: {{item.time_updated}}</p>
            </div>
            <div class="col-md-10 col-md-offset-2">
              <h3 class="user-name">{{user.name}}</h3>
            </div>

          </div>
        </div>


      </div>
    </div>
  </section>

  <footer class="footer">
    <nav class="navbar navbar-default navbar-bottom">
      <div class="footer_content">
        Copyright Stefan Milanovic 2017
      </div>
    </nav>
  </footer>
</body>


</html>
